/* General Styles */

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    text-align: center;
    width: 65%;
    margin: 0 auto;
}

p {
    font-size: 1.5rem;
}

ol {
    width: 50%;
    margin: 5% auto;
    list-style-position: inside;
    padding: 0;
}

li {
    padding: 2%;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header p {
    margin: 20px;
}

nav p {
    color: var(--dark-blue);
    text-decoration: underline;
    padding: 5px;
}

nav p:hover {
    cursor: grab;
    color: white;
    background-color: var(--dark-blue);
}

/* Answers */

#answers {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 100%;
    margin: auto;
}

#answers p {
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
    background-color: var(--dark-green);
    color: white;
    white-space: normal;
}

#answers p:hover {
    cursor: grab;
    background-color: var(--light-green);
}

#question-result {
    font-size: 1.2rem;
}

/* High Scores */

#initials {
    margin: 3%;
}

li:nth-child(odd) {
    background-color: var(--purple);
}

li:nth-child(even) {
    background-color: var(--light-blue);
}

/* Media Queries */

@media screen and (max-width: 520px) {
    main {
        width: 100%;
    }
    p {
        font-size: 1.2rem;
        margin: 3%;
    }
    #answers p {
        font-size: 1rem;
    }
    #initials, #submit {
        display: block;
        margin: 5% auto;
    }
}